<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>A</string>
				<key>id</key>
				<integer>395</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/395.png</string>
				<key>namePy</key>
				<string>ankai</string>
				<key>nameZh</key>
				<string>安凯客车</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>A</string>
				<key>id</key>
				<integer>191</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/191.png</string>
				<key>namePy</key>
				<string>aodi</string>
				<key>nameZh</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>A</string>
				<key>id</key>
				<integer>217</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/217.png</string>
				<key>namePy</key>
				<string>asidun</string>
				<key>nameZh</key>
				<string>阿斯顿马丁</string>
			</dict>
		</array>
		<key>initial</key>
		<string>A</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>342</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/342.png</string>
				<key>namePy</key>
				<string>babosi</string>
				<key>nameZh</key>
				<string>BRABUS巴博斯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>320</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/320.png</string>
				<key>namePy</key>
				<string>baojun</string>
				<key>nameZh</key>
				<string>宝骏</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>201</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/201.png</string>
				<key>namePy</key>
				<string>baoma</string>
				<key>nameZh</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>219</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/219.png</string>
				<key>namePy</key>
				<string>baoshijie</string>
				<key>nameZh</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>226</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/226.png</string>
				<key>namePy</key>
				<string>beijing</string>
				<key>nameZh</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>383</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/383.png</string>
				<key>namePy</key>
				<string>beiqihuansu</string>
				<key>nameZh</key>
				<string>北汽幻速</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>359</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/359.png</string>
				<key>namePy</key>
				<string>beiqishenbao</string>
				<key>nameZh</key>
				<string>北汽绅宝</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>330</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/330.png</string>
				<key>namePy</key>
				<string>beiqiweiwang</string>
				<key>nameZh</key>
				<string>北汽威旺</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>388</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/388.png</string>
				<key>namePy</key>
				<string>beiqixinnengyuan</string>
				<key>nameZh</key>
				<string>北汽新能源</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>311</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/311.png</string>
				<key>namePy</key>
				<string>beiqizhizao</string>
				<key>nameZh</key>
				<string>北汽制造</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>145</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/145.png</string>
				<key>namePy</key>
				<string>benchi</string>
				<key>nameZh</key>
				<string>奔驰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>277</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/277.png</string>
				<key>namePy</key>
				<string>benteng</string>
				<key>nameZh</key>
				<string>奔腾</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>214</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/214.png</string>
				<key>namePy</key>
				<string>bentian</string>
				<key>nameZh</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>211</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/211.png</string>
				<key>namePy</key>
				<string>biaozhi</string>
				<key>nameZh</key>
				<string>标致</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>170</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/170.png</string>
				<key>namePy</key>
				<string>bieke</string>
				<key>nameZh</key>
				<string>别克</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>192</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/192.png</string>
				<key>namePy</key>
				<string>binli</string>
				<key>nameZh</key>
				<string>宾利</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>239</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/239.png</string>
				<key>namePy</key>
				<string>biyadi</string>
				<key>nameZh</key>
				<string>比亚迪</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>B</string>
				<key>id</key>
				<integer>193</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/193.png</string>
				<key>namePy</key>
				<string>bujiadi</string>
				<key>nameZh</key>
				<string>布加迪</string>
			</dict>
		</array>
		<key>initial</key>
		<string>B</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>242</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/242.png</string>
				<key>namePy</key>
				<string>changan</string>
				<key>nameZh</key>
				<string>长安</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>348</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/348.png</string>
				<key>namePy</key>
				<string>changanshangyong</string>
				<key>nameZh</key>
				<string>长安商用</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>168</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/168.png</string>
				<key>namePy</key>
				<string>changcheng</string>
				<key>nameZh</key>
				<string>长城</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>290</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/290.png</string>
				<key>namePy</key>
				<string>changfeng</string>
				<key>nameZh</key>
				<string>长丰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>158</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/158.png</string>
				<key>namePy</key>
				<string>changhe</string>
				<key>nameZh</key>
				<string>昌河</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>392</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/392.png</string>
				<key>namePy</key>
				<string>chenggongqiche</string>
				<key>nameZh</key>
				<string>成功汽车</string>
			</dict>
		</array>
		<key>initial</key>
		<string>C</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>C</string>
				<key>id</key>
				<integer>392</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/392.png</string>
				<key>namePy</key>
				<string>chenggongqiche</string>
				<key>nameZh</key>
				<string>成功汽车</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>197</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/197.png</string>
				<key>namePy</key>
				<string>dazhong</string>
				<key>nameZh</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>284</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/284.png</string>
				<key>namePy</key>
				<string>dongfeng</string>
				<key>nameZh</key>
				<string>东风</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>371</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/371.png</string>
				<key>namePy</key>
				<string>dongfengfengdu</string>
				<key>nameZh</key>
				<string>东风风度</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>297</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/297.png</string>
				<key>namePy</key>
				<string>dongfengfengshen</string>
				<key>nameZh</key>
				<string>东风风神</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>231</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/231.png</string>
				<key>namePy</key>
				<string>dongfengfengxing</string>
				<key>nameZh</key>
				<string>东风风行</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>379</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/379.png</string>
				<key>namePy</key>
				<string>dongfengxiaokang</string>
				<key>nameZh</key>
				<string>东风小康</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>399</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/399.png</string>
				<key>namePy</key>
				<string>dongfengzhengzhourichan</string>
				<key>nameZh</key>
				<string>东风郑州日产</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>282</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/282.png</string>
				<key>namePy</key>
				<string>dongnan</string>
				<key>nameZh</key>
				<string>东南</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>349</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/349.png</string>
				<key>namePy</key>
				<string>ds</string>
				<key>nameZh</key>
				<string>DS</string>
			</dict>
		</array>
		<key>initial</key>
		<string>D</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>D</string>
				<key>id</key>
				<integer>349</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/349.png</string>
				<key>namePy</key>
				<string>ds</string>
				<key>nameZh</key>
				<string>DS</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>364</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/364.png</string>
				<key>namePy</key>
				<string>feichi</string>
				<key>nameZh</key>
				<string>飞驰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>208</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/208.png</string>
				<key>namePy</key>
				<string>feiyate</string>
				<key>nameZh</key>
				<string>菲亚特</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>199</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/199.png</string>
				<key>namePy</key>
				<string>fengtian</string>
				<key>nameZh</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>248</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/248.png</string>
				<key>namePy</key>
				<string>fudi</string>
				<key>nameZh</key>
				<string>福迪</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>382</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/382.png</string>
				<key>namePy</key>
				<string>fuqixinlongma</string>
				<key>nameZh</key>
				<string>福汽启腾</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>184</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/184.png</string>
				<key>namePy</key>
				<string>fute</string>
				<key>nameZh</key>
				<string>福特</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>F</string>
				<key>id</key>
				<integer>232</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/232.png</string>
				<key>namePy</key>
				<string>futian</string>
				<key>nameZh</key>
				<string>福田</string>
			</dict>
		</array>
		<key>initial</key>
		<string>F</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>G</string>
				<key>id</key>
				<integer>173</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/173.png</string>
				<key>namePy</key>
				<string>gmc</string>
				<key>nameZh</key>
				<string>GMC</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>G</string>
				<key>id</key>
				<integer>319</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/319.png</string>
				<key>namePy</key>
				<string>guanggang</string>
				<key>nameZh</key>
				<string>光冈</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>G</string>
				<key>id</key>
				<integer>360</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/360.png</string>
				<key>namePy</key>
				<string>guangqichuanqi</string>
				<key>nameZh</key>
				<string>广汽传祺</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>G</string>
				<key>id</key>
				<integer>244</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/244.png</string>
				<key>namePy</key>
				<string>guangqijiao</string>
				<key>nameZh</key>
				<string>广汽吉奥</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>G</string>
				<key>id</key>
				<integer>341</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/341.png</string>
				<key>namePy</key>
				<string>guanzhi</string>
				<key>nameZh</key>
				<string>观致</string>
			</dict>
		</array>
		<key>initial</key>
		<string>G</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>164</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/164.png</string>
				<key>namePy</key>
				<string>hafei</string>
				<key>nameZh</key>
				<string>哈飞</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>368</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/368.png</string>
				<key>namePy</key>
				<string>hafu</string>
				<key>nameZh</key>
				<string>哈弗</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>265</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/265.png</string>
				<key>namePy</key>
				<string>haige</string>
				<key>nameZh</key>
				<string>海格</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>147</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/147.png</string>
				<key>namePy</key>
				<string>haima</string>
				<key>nameZh</key>
				<string>海马</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>350</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/350.png</string>
				<key>namePy</key>
				<string>hengtian</string>
				<key>nameZh</key>
				<string>恒天</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>144</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/144.png</string>
				<key>namePy</key>
				<string>hongqi</string>
				<key>nameZh</key>
				<string>红旗</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>409</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/409.png</string>
				<key>namePy</key>
				<string>huakai</string>
				<key>nameZh</key>
				<string>华凯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>249</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/249.png</string>
				<key>namePy</key>
				<string>huanghai</string>
				<key>nameZh</key>
				<string>黄海</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>394</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/394.png</string>
				<key>namePy</key>
				<string>huasong</string>
				<key>nameZh</key>
				<string>华颂</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>167</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/167.png</string>
				<key>namePy</key>
				<string>huatai</string>
				<key>nameZh</key>
				<string>华泰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>H</string>
				<key>id</key>
				<integer>255</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/255.png</string>
				<key>namePy</key>
				<string>huizhong</string>
				<key>nameZh</key>
				<string>汇众</string>
			</dict>
		</array>
		<key>initial</key>
		<string>H</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>235</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/235.png</string>
				<key>namePy</key>
				<string>jianghuai</string>
				<key>nameZh</key>
				<string>江淮</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>166</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/166.png</string>
				<key>namePy</key>
				<string>jiangling</string>
				<key>nameZh</key>
				<string>江铃</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>381</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/381.png</string>
				<key>namePy</key>
				<string>jianglingjituanqingqi</string>
				<key>nameZh</key>
				<string>江铃集团轻汽</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>187</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/187.png</string>
				<key>namePy</key>
				<string>jiebao</string>
				<key>nameZh</key>
				<string>捷豹</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>159</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/159.png</string>
				<key>namePy</key>
				<string>jili</string>
				<key>nameZh</key>
				<string>吉利</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>162</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/162.png</string>
				<key>namePy</key>
				<string>jinbei</string>
				<key>nameZh</key>
				<string>金杯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>375</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/375.png</string>
				<key>namePy</key>
				<string>jinlv</string>
				<key>nameZh</key>
				<string>金旅</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>153</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/153.png</string>
				<key>namePy</key>
				<string>jipu</string>
				<key>nameZh</key>
				<string>Jeep</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>J</string>
				<key>id</key>
				<integer>362</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/362.png</string>
				<key>namePy</key>
				<string>jiulong</string>
				<key>nameZh</key>
				<string>九龙</string>
			</dict>
		</array>
		<key>initial</key>
		<string>J</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>372</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/372.png</string>
				<key>namePy</key>
				<string>kaersen</string>
				<key>nameZh</key>
				<string>卡尔森</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>171</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/171.png</string>
				<key>namePy</key>
				<string>kaidilake</string>
				<key>nameZh</key>
				<string>凯迪拉克</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>303</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/303.png</string>
				<key>namePy</key>
				<string>kairui</string>
				<key>nameZh</key>
				<string>开瑞</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>390</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/390.png</string>
				<key>namePy</key>
				<string>kaiyi</string>
				<key>nameZh</key>
				<string>凯翼</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>411</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/411.png</string>
				<key>namePy</key>
				<string>kangdi</string>
				<key>nameZh</key>
				<string>康迪</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>386</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/386.png</string>
				<key>namePy</key>
				<string>kawei</string>
				<key>nameZh</key>
				<string>卡威</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>151</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/151.png</string>
				<key>namePy</key>
				<string>kelaisile</string>
				<key>nameZh</key>
				<string>克莱斯勒</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>227</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/227.png</string>
				<key>namePy</key>
				<string>kenixisaier</string>
				<key>nameZh</key>
				<string>科尼赛克</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>K</string>
				<key>id</key>
				<integer>293</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/293.png</string>
				<key>namePy</key>
				<string>KTM</string>
				<key>nameZh</key>
				<string>KTM</string>
			</dict>
		</array>
		<key>initial</key>
		<string>K</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>194</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/194.png</string>
				<key>namePy</key>
				<string>lanbojini</string>
				<key>nameZh</key>
				<string>兰博基尼</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>373</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/373.png</string>
				<key>namePy</key>
				<string>laolunshi</string>
				<key>nameZh</key>
				<string>劳伦士</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>203</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/203.png</string>
				<key>namePy</key>
				<string>laosilaisi</string>
				<key>nameZh</key>
				<string>劳斯莱斯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>397</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/397.png</string>
				<key>namePy</key>
				<string>leiding</string>
				<key>nameZh</key>
				<string>雷丁</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>198</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/198.png</string>
				<key>namePy</key>
				<string>leikesasi</string>
				<key>nameZh</key>
				<string>雷克萨斯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>204</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/204.png</string>
				<key>namePy</key>
				<string>leinuo</string>
				<key>nameZh</key>
				<string>雷诺</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>287</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/287.png</string>
				<key>namePy</key>
				<string>lianhua</string>
				<key>nameZh</key>
				<string>莲花</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>163</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/163.png</string>
				<key>namePy</key>
				<string>liebao</string>
				<key>nameZh</key>
				<string>猎豹</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>260</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/260.png</string>
				<key>namePy</key>
				<string>lifan</string>
				<key>nameZh</key>
				<string>力帆</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>243</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/243.png</string>
				<key>namePy</key>
				<string>lingmu</string>
				<key>nameZh</key>
				<string>铃木</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>321</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/321.png</string>
				<key>namePy</key>
				<string>linian</string>
				<key>nameZh</key>
				<string>理念</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>185</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/185.png</string>
				<key>namePy</key>
				<string>linken</string>
				<key>nameZh</key>
				<string>林肯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>165</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/165.png</string>
				<key>namePy</key>
				<string>lufeng</string>
				<key>nameZh</key>
				<string>陆风</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>188</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/188.png</string>
				<key>namePy</key>
				<string>luhu</string>
				<key>nameZh</key>
				<string>路虎</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>L</string>
				<key>id</key>
				<integer>221</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/221.png</string>
				<key>namePy</key>
				<string>lutesi</string>
				<key>nameZh</key>
				<string>路特斯</string>
			</dict>
		</array>
		<key>initial</key>
		<string>L</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>314</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/314.png</string>
				<key>namePy</key>
				<string>maikailun</string>
				<key>nameZh</key>
				<string>迈凯伦</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>210</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/210.png</string>
				<key>namePy</key>
				<string>mashaladi</string>
				<key>nameZh</key>
				<string>玛莎拉蒂</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>190</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/190.png</string>
				<key>namePy</key>
				<string>mazida</string>
				<key>nameZh</key>
				<string>马自达</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>283</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/283.png</string>
				<key>namePy</key>
				<string>mg</string>
				<key>nameZh</key>
				<string>MG</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>202</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/202.png</string>
				<key>namePy</key>
				<string>mini</string>
				<key>nameZh</key>
				<string>MINI</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>M</string>
				<key>id</key>
				<integer>225</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/225.png</string>
				<key>namePy</key>
				<string>mogen</string>
				<key>nameZh</key>
				<string>摩根</string>
			</dict>
		</array>
		<key>initial</key>
		<string>M</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>N</string>
				<key>id</key>
				<integer>393</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/393.png</string>
				<key>namePy</key>
				<string>nanjingjinlong</string>
				<key>nameZh</key>
				<string>南京金龙</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>N</string>
				<key>id</key>
				<integer>323</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/323.png</string>
				<key>namePy</key>
				<string>nazhijie</string>
				<key>nameZh</key>
				<string>纳智捷</string>
			</dict>
		</array>
		<key>initial</key>
		<string>N</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>O</string>
				<key>id</key>
				<integer>179</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/179.png</string>
				<key>namePy</key>
				<string>oubao</string>
				<key>nameZh</key>
				<string>欧宝</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>O</string>
				<key>id</key>
				<integer>213</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/213.png</string>
				<key>namePy</key>
				<string>ouge</string>
				<key>nameZh</key>
				<string>讴歌</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>O</string>
				<key>id</key>
				<integer>338</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/338.png</string>
				<key>namePy</key>
				<string>oulang</string>
				<key>nameZh</key>
				<string>欧朗</string>
			</dict>
		</array>
		<key>initial</key>
		<string>O</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>P</string>
				<key>id</key>
				<integer>228</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/228.png</string>
				<key>namePy</key>
				<string>pajiani</string>
				<key>nameZh</key>
				<string>帕加尼</string>
			</dict>
		</array>
		<key>initial</key>
		<string>P</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>Q</string>
				<key>id</key>
				<integer>322</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/322.png</string>
				<key>namePy</key>
				<string>qichen</string>
				<key>nameZh</key>
				<string>启辰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Q</string>
				<key>id</key>
				<integer>148</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/148.png</string>
				<key>namePy</key>
				<string>qirui</string>
				<key>nameZh</key>
				<string>奇瑞</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Q</string>
				<key>id</key>
				<integer>216</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/216.png</string>
				<key>namePy</key>
				<string>qiya</string>
				<key>nameZh</key>
				<string>起亚</string>
			</dict>
		</array>
		<key>initial</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>R</string>
				<key>id</key>
				<integer>205</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/205.png</string>
				<key>namePy</key>
				<string>richan</string>
				<key>nameZh</key>
				<string>日产</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>R</string>
				<key>id</key>
				<integer>281</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/281.png</string>
				<key>namePy</key>
				<string>rongwei</string>
				<key>nameZh</key>
				<string>荣威</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>R</string>
				<key>id</key>
				<integer>339</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/339.png</string>
				<key>namePy</key>
				<string>ruhu</string>
				<key>nameZh</key>
				<string>如虎</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>R</string>
				<key>id</key>
				<integer>299</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/299.png</string>
				<key>namePy</key>
				<string>ruiqi</string>
				<key>nameZh</key>
				<string>瑞麒</string>
			</dict>
		</array>
		<key>initial</key>
		<string>R</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>157</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/157.png</string>
				<key>namePy</key>
				<string>sanling</string>
				<key>nameZh</key>
				<string>三菱</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>331</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/331.png</string>
				<key>namePy</key>
				<string>shangqidatong</string>
				<key>nameZh</key>
				<string>上汽大通MAXUS</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>376</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/376.png</string>
				<key>namePy</key>
				<string>shanqitongjia</string>
				<key>nameZh</key>
				<string>陕汽通家</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>234</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/234.png</string>
				<key>namePy</key>
				<string>shuanghuan</string>
				<key>nameZh</key>
				<string>双环</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>223</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/223.png</string>
				<key>namePy</key>
				<string>shuanglong</string>
				<key>nameZh</key>
				<string>双龙</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>196</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/196.png</string>
				<key>namePy</key>
				<string>sikeda</string>
				<key>nameZh</key>
				<string>斯柯达</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>336</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/336.png</string>
				<key>namePy</key>
				<string>siming</string>
				<key>nameZh</key>
				<string>思铭</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>156</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/156.png</string>
				<key>namePy</key>
				<string>smart</string>
				<key>nameZh</key>
				<string>smart</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>S</string>
				<key>id</key>
				<integer>181</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/181.png</string>
				<key>namePy</key>
				<string>subaru</string>
				<key>nameZh</key>
				<string>斯巴鲁</string>
			</dict>
		</array>
		<key>initial</key>
		<string>S</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>T</string>
				<key>id</key>
				<integer>345</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/345.png</string>
				<key>namePy</key>
				<string>tengshi</string>
				<key>nameZh</key>
				<string>腾势</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>T</string>
				<key>id</key>
				<integer>304</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/304.png</string>
				<key>namePy</key>
				<string>Tesla</string>
				<key>nameZh</key>
				<string>Tesla</string>
			</dict>
		</array>
		<key>initial</key>
		<string>T</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>W</string>
				<key>id</key>
				<integer>300</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/300.png</string>
				<key>namePy</key>
				<string>weilin</string>
				<key>nameZh</key>
				<string>威麟</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>W</string>
				<key>id</key>
				<integer>325</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/325.png</string>
				<key>namePy</key>
				<string>weiziman</string>
				<key>nameZh</key>
				<string>威兹曼</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>W</string>
				<key>id</key>
				<integer>189</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/189.png</string>
				<key>namePy</key>
				<string>woerwo</string>
				<key>nameZh</key>
				<string>沃尔沃</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>W</string>
				<key>id</key>
				<integer>149</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/149.png</string>
				<key>namePy</key>
				<string>wuling</string>
				<key>nameZh</key>
				<string>五菱</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>W</string>
				<key>id</key>
				<integer>270</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/270.png</string>
				<key>namePy</key>
				<string>wushiling</string>
				<key>nameZh</key>
				<string>五十铃</string>
			</dict>
		</array>
		<key>initial</key>
		<string>W</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>X</string>
				<key>id</key>
				<integer>215</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/215.png</string>
				<key>namePy</key>
				<string>xiandai</string>
				<key>nameZh</key>
				<string>现代</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>X</string>
				<key>id</key>
				<integer>361</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/361.png</string>
				<key>namePy</key>
				<string>xinkai</string>
				<key>nameZh</key>
				<string>新凯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>X</string>
				<key>id</key>
				<integer>195</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/195.png</string>
				<key>namePy</key>
				<string>xiyate</string>
				<key>nameZh</key>
				<string>西雅特</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>X</string>
				<key>id</key>
				<integer>172</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/172.png</string>
				<key>namePy</key>
				<string>xuefolan</string>
				<key>nameZh</key>
				<string>雪佛兰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>X</string>
				<key>id</key>
				<integer>212</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/212.png</string>
				<key>namePy</key>
				<string>xuetielong</string>
				<key>nameZh</key>
				<string>雪铁龙</string>
			</dict>
		</array>
		<key>initial</key>
		<string>X</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>315</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/315.png</string>
				<key>namePy</key>
				<string>yema</string>
				<key>nameZh</key>
				<string>野马汽车</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>206</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/206.png</string>
				<key>namePy</key>
				<string>yingfeinidi</string>
				<key>nameZh</key>
				<string>英菲尼迪</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>380</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/380.png</string>
				<key>namePy</key>
				<string>yingzhi</string>
				<key>nameZh</key>
				<string>英致</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>146</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/146.png</string>
				<key>namePy</key>
				<string>yiqi</string>
				<key>nameZh</key>
				<string>一汽</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>268</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/268.png</string>
				<key>namePy</key>
				<string>yiweike</string>
				<key>nameZh</key>
				<string>依维柯</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Y</string>
				<key>id</key>
				<integer>296</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/296.png</string>
				<key>namePy</key>
				<string>yongyuan</string>
				<key>nameZh</key>
				<string>永源</string>
			</dict>
		</array>
		<key>initial</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>initial</key>
		<string>Z</string>
		<key>citys</key>
		<array>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>398</integer>
				<key>logoUrl</key>
				<string>http://m3.auto.itc.cn/c_zoom,w_160/logo/brand/398.png</string>
				<key>namePy</key>
				<string>zhidou</string>
				<key>nameZh</key>
				<string>知豆</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>161</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/161.png</string>
				<key>namePy</key>
				<string>zhonghua</string>
				<key>nameZh</key>
				<string>中华</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>327</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/327.png</string>
				<key>namePy</key>
				<string>zhongou</string>
				<key>nameZh</key>
				<string>中欧</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>259</integer>
				<key>logoUrl</key>
				<string>http://m4.auto.itc.cn/c_zoom,w_160/logo/brand/259.png</string>
				<key>namePy</key>
				<string>zhongtai</string>
				<key>nameZh</key>
				<string>众泰</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>236</integer>
				<key>logoUrl</key>
				<string>http://m1.auto.itc.cn/c_zoom,w_160/logo/brand/236.png</string>
				<key>namePy</key>
				<string>zhongxing</string>
				<key>nameZh</key>
				<string>中兴</string>
			</dict>
			<dict>
				<key>capitalPy</key>
				<string>Z</string>
				<key>id</key>
				<integer>317</integer>
				<key>logoUrl</key>
				<string>http://m2.auto.itc.cn/c_zoom,w_160/logo/brand/317.png</string>
				<key>namePy</key>
				<string>zhongyu</string>
				<key>nameZh</key>
				<string>中誉</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
