<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>不限</string>
		<string>微型</string>
		<string>小型</string>
		<string>紧凑</string>
		<string>中型</string>
		<string>中大型</string>
		<string>大型</string>
	</array>
	<array>
		<string>不限</string>
		<string>两厢轿车</string>
		<string>三厢轿车</string>
		<string>MPV</string>
		<string>SUV</string>
		<string>跑车</string>
		<string>敞篷车</string>
		<string>旅行轿车</string>
		<string>货车</string>
		<string>客车</string>
		<string>皮卡</string>
	</array>
	<array>
		<string>不限</string>
		<string>1.0L以下</string>
		<string>1.0-1.2L</string>
		<string>1.3-1.4L</string>
		<string>1.5-1.7L</string>
		<string>1.8-2.0L</string>
		<string>2.1-2.6L</string>
		<string>2.7-3.5L</string>
		<string>3.6-4.2L</string>
		<string>4.2L以上</string>
		<string>发动机增压</string>
	</array>
	<array>
		<string>不限</string>
		<string>倒车影像</string>
		<string>ESP</string>
		<string>天窗</string>
		<string>无钥匙启动</string>
		<string>四轮碟刹</string>
		<string>侧气囊</string>
		<string>自动空调</string>
		<string>定速巡航</string>
		<string>多功能方向盘</string>
		<string>真皮座椅</string>
		<string>GPS</string>
		<string>氙灯</string>
		<string>五座以上</string>
		<string>倒车雷达</string>
		<string>座椅加热</string>
		<string>胎压检测</string>
		<string>电动座椅</string>
		<string>儿童座椅接口</string>
	</array>
	<array>
		<string>不限</string>
		<string>前轮驱动</string>
		<string>后轮驱动</string>
		<string>四轮驱动</string>
	</array>
	<array>
		<string>不限</string>
		<string>自主</string>
		<string>德系</string>
		<string>美系</string>
		<string>法系</string>
		<string>意系</string>
		<string>日系</string>
		<string>韩系</string>
		<string>其他</string>
	</array>
	<array>
		<string>不限</string>
		<string>手动档</string>
		<string>自动档</string>
	</array>
</array>
</plist>
