<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WJModel-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3E76921C9D5C8600783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3E76AE1C9D5C8600783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3E76B91C9D5C8600783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
