<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fashionDance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAE93A011C8E75B900F03A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE93A1A1C8E75B900F03A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE93A251C8E75B900F03A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
