<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runtime更多详细.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3E764A1C9D45BA00783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3E76631C9D45BA00783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3E766E1C9D45BA00783426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
